<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TutorialsNinja Test Suite">

	<listeners>
		<listener class-name="com.qed42.qa.utilities.TestListener"></listener>
	</listeners>

	<test name="Home and Menu Tests">
		<!-- <groups> <run> <exclude name = "Functionality" /> </run> </groups> -->
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.qed42.qa.tests.HomeMenuTests"></class>
		</classes>
	</test> <!--
	Test -->

	<!-- 	<test name="Testing 2">
		<groups> <run> <exclude name = "Functionality" /> </run> </groups>
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="com.qed42.qa.tests.LoginExampleTest"></class>
		</classes>
	</test> Test -->
</suite> <!--
Suite -->
